body {
    margin: 0px;
}
a {
    text-decoration-line: none !important;
}
h1 {
    font-size: 45px;
    text-align: center;
}
/* index라는 id 값 자식들 중 ol들에 대해
#index ol {
    color: silver;
}
*/
.contents {
    color:chocolate;
}
.points{
    color:blue;
}
.sub_title{
    border-bottom: none;
    background-color:rgb(255, 251, 235);
}
.main_position{
    font-weight: bold;
}

.title{
    padding: 30px;
    background-color:rgb(255, 251, 235);
}

@media(min-width:600px){
    .sub_title{
        border-bottom: 1px solid gray;
        text-align: center;
        padding-bottom: 20px;
    }
    #information{
        margin-top: 16px;
        padding-left: 32px;
    }
    #home{
        border-right: 1px solid gray;
        width: 168px;
        text-decoration: none;
        margin: 0px;
        padding-top: 16px;
        padding-left:48px;
    }
    #index {
        border-right: 1px solid gray;
        width: 168px;
        text-decoration: none;
        margin: 0px;
        padding: 16px;
    }
    /* index라는 id 값 자식들 중 ol들에 대해
    #index ol {
        color: silver;
    }
    */
    #grid{
        display: grid;
        grid-template-columns: 168px 1fr;
        justify-content: center;
    }

    .feedbacks{
        margin-top: 16px;
        padding-left: 16px;
    }
}